<%- include("partials/header.ejs") %>
    <h1>Selected Key and Value</h1>
    <div class="container">
        <p><strong>Key: </strong>
            <%= key %>
        </p>
        <p><strong> Value: </strong>
            <%= value %>
        </p>
    </div>
    <%- include("partials/footer.ejs") %>