<%- include("partials/header.ejs") %>
    <h1>Selected Key and Value</h1>
    <p><strong>Key:</strong>
        <%= key %>
    </p>
    <p><strong>Value:</strong>
        <%= value %>
    </p>
    <%- include("partials/footer.ejs") %>