<%- include("partials/header.ejs") %>
  <h1>Blog Web App ✏️📝</h1>

  <div class="container">
    <div class="list">
      <p>Blog posts:</p>
      <ul>
        <% Object.entries(newListItem).forEach(([key, value])=> { %>
          <li>
            <a href="/blogpost?key=<%= key %>">
              <%= key %>
            </a>
          </li>
          <% }); %>
      </ul>
    </div>

    <div class="form-container">
      <form action="/submit" method="POST">
        <input type="text" placeholder="Title" name="post-title">
        <textarea placeholder="Enter your post here" name="blog-post"></textarea>
        <input type="submit" value="Add new post">
      </form>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>