<%- include("partials/header.ejs") %>


  <div class="container">
    <%- include("partials/list.ejs") %>

      <div class="form-container">
        <form action="/submit" method="POST" onsubmit="return validateForm()">
          <input type="text" placeholder="Title" name="post-title" required>
          <textarea placeholder="Enter your post here" name="blog-post" required></textarea>
          <input type="submit" value="Add new post">
        </form>
      </div>
  </div>

  <%- include("partials/footer.ejs") %>