body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  border-color: #ccc;
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b1b1b1;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.container {
  display: flex;
  margin-top: 40px;
}

.list {
  flex: 0 0 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 25%;
  overflow-wrap: break-word;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
}

.list p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.list ul {
  list-style: none;
  padding: 0;
  text-wrap: wrap;
  max-height: 200px; /* Set max-height to 200px */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds max height */
  flex-grow: 1; /* Allow the ul to grow and take up remaining space */
}

/* Custom scrollbar */
.list ul::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.list ul::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.list ul::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Roundness of the scrollbar thumb */
}

.list ul::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.list li {
  margin-bottom: 10px;
  font-size: 16px;
  text-wrap: wrap;
}

.list li a {
  position: relative; /* Position relative for positioning the trash icon */
  display: inline-block; /* Ensure anchor elements behave as blocks */
}

.list li a:hover::after {
  content: ""; /* Empty content for the pseudo-element */
  position: absolute;
  top: 50%; /* Position the icon vertically centered */
  right: -20px; /* Position the icon outside the link */
  transform: translateY(-50%); /* Center the icon vertically */
  width: 10px;
  height: 12px;
  background-image: url("../icons/trash.svg"); /* Replace 'path_to_your_trash_icon.svg' with the path to your trash bin icon */
  background-size: cover; /* Ensure the icon covers the specified dimensions */
}

.list a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
  text-wrap: wrap;
}

.list a:hover {
  color: #4caf50;
}

.form-container {
  flex: 1;
  padding-left: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container input[type="submit"] {
  width: calc(100% + 22px);
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.blog-post-view {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  padding-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  margin-left: 10px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
}

.blog-post-view h4 {
  text-align: center;
}

.blog-post {
  flex-grow: 1; /* Allow the blog-post div to grow and take up remaining space */
  display: flex; /* Use flexbox for .blog-post */
  flex-direction: column; /* Stack children vertically */
}

.post-date {
  margin-top: auto; /* Push the .post-date to the bottom */
  font-size: 12px;
}
